{% extends "skeleton2.html.twig" %}

{% block title %}
  Formulaire
{% endblock title %}



{% block content %}

<form action = "/add-person-action" method = "POST">
  <input type="text" name = "name">
  <input type="text" name = "surname">
  <input type="text" name = "age">

  <button>Submit</button>
</form>

{% if person is defined %}

<ul>
  <li>Name: {{person.name}}</li>
  <li>Surname: {{person.surname}}</li>
  <li>Age: {{person.age}}</li>
</ul>
  
{% endif %}

{% endblock content %}

