<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>first</title>
</head>
<body>
  <a href="{{ path('presentation')}}">Presentation</a>
  <p>Je suis dans un template brindille!!</p>
  <p>{{variable}} {{autre}}</p> 
  <p>{{person.name}} {{person.surname}} {{person.age}}</p>

  {% for item in tableau %}
  <article>
    <h3>{{item}}</h3>
  </article> 
  <p>Voici un merveilleux élément</p>
  {% endfor %}

  {% for index,item in tableau %}
  <article>
    <h3>{{item}}</h3>
  </article> 
  <p>Voici un merveilleux élément n° {{index}}</p>
  {% endfor %}

  {% if autre > 2 %}
      autre est supérieur à deux.
  {% endif %}

</body>
</html>