{% extends "skeleton.html.twig" %}

{% block title %}
    Form page
{% endblock title %}

{% block content %}
   
<form method = "POST">
  <input type="text" name = "input">
  <button>Submit</button>
</form>

<p>Vous aves entré: {{variableInput}}</p>

{% endblock content %}