<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>pres</title>
  <style> </style>
</head>
<style>
  .even{
    color:blueviolet
  }
  .odd{
    color:brown
  }
</style>
<body>
  <p>voila, voila blablabla</p>
  <p>{{phrase}} {{firstname}} {{name}}</p>

  {% for index,item in tableau %}
 {% if tableau[index]%2 == 0 %}
   <p class = "even"> {{item}}</p>
   {% else %}
   <p class = "odd">{{item}}</p>
 {% endif %}
  {% endfor %}


  {% for index,item in tablo %}
      {% if index %2 == 0 %}
        <p class = "even"> {{item}}</p>
      {% else %}
        <p class = "odd">{{item}}</p>
     {% endif %}
  {% endfor %}

  {% for index,item in tablo %}
      {% if index is divisible by(2) %} 
        <p style = "color:blue"> {{item}}</p>
      {% else %}
        <p style = "color:rgb(255, 0, 13)"> {{item}}</p>
      {% endif %}
  {% endfor %}

</body>
</html>