{% extends "skeleton.html.twig" %}

{% block title %}
    Exercice Presentation
{% endblock title %}

{% block content %}
<p>Bonjour, je m'appelle {{prenom}} {{nom}}  </p>


{% for row in tableau %}
    {# {% if row%2 == 0 %} #}
    {% if row is divisible by(2) %}
        <p style="color:blue">{{row}}</p>
    {% else %}
        <p style="color:green">{{row}}</p>
    {% endif %}
{% endfor %}
    
{% endblock content %}
