<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Symfony Introduction {% block title %} {% endblock title %}</title>
</head>
<body>
  

  {% block header %}
    <nav>
      {% block nav %}
        <ul>
          <li><a href="{{path('homepage')}}">homepage</a></li>
          <li><a href="{{path('presentation')}}">pres</a></li>
          <li><a href="{{path('test')}}">test</a></li>
          <li><a href="{{path('form')}}">form</a></li>

        </ul>
      {% endblock nav %}
    </nav> 
  {% endblock header %}



  {% block content %}
      <p>par défaut</p>
  {% endblock content %}

  <footer>
    {% block footer %}
      Je suis un footer 
    {% endblock footer %}
  </footer>



</body>
</html>